@import url(https://fonts.googleapis.com/css?family=Philosopher:400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700);
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Philosopher', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*
* Common styles
*/
*
body {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  background: #fff;
  height: auto;
}
.pg-wdth {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}
img {
	vertical-align: middle;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.am {
  text-align: center;
}
.ar {
  text-align: right;
}
.al {
  text-align: left;
}
.ps-rl {
  position: relative;
}
.hd {
	display: none;
}
.mn {
  margin: 0;
}
.pn {
  padding: 0;
}
.pc {
  padding: 10px;
}
.pt {
  padding-top: 10px;
}
.pr {
  padding-right: 10px;
}
.pb {
  padding-bottom: 10px;
}
.pl {
  padding-left: 10px;
}
.dpt {
  padding-top: 20px;
}
.dpr {
  padding-right: 20px;
}
.dpb {
  padding-bottom: 20px;
}
.dpl {
  padding-left: 20px;
}
.dpc {
  padding: 20px;
}
.mc {
  margin: 10px;
}
.mt {
  margin-top: 10px;
}
.mr {
  margin-right: 10px;
}
.mb {
  margin-bottom: 10px;
}
.ml {
  margin-left: 10px;
}
.hmt {
  margin-top: 5px;
}
.hmb {
  margin-bottom: 5px;
}
.hmr {
  margin-right: 5px;
}
.hml {
  margin-left: 5px;
}
.hpl {
  padding-left: 5px;
}
.hpr {
  padding-right: 5px;
}
.hpt {
	padding-top: 5px;
}
.hpb {
	padding-bottom: 5px;
}
.dmt {
  margin-top: 20px;
}
.dmb {
  margin-bottom: 20px;
}
.dml {
  margin-left: 20px;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
p {
  margin: 5px 0;
}

a {
    color: #337ab7;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #222;
  margin-top: 0px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*
* Loader
*/

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}
.downArrow {
  position: absolute;
  left: 48%;
  margin-top: 100px;
  width: 50px;
  color: #fff;
  font-size: 40px;
  text-align: center;
  transition: all .4s ease 0s;
}
.downArrow .fa {
 font-size: 46px;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*header*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  border-radius: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header.shrink {
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0 1px 35px -16px #555;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  background: #333;
  padding: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.navbar ul {
  margin: 0;
  list-style-type: none;
}
.navbar ul li {
  display: block;
}
.navbar ul li a {
  color: #fff;
  display: block;
  padding: 10px 15px;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.navbar ul li a:hover {
  color: #ffbf3b;
}
.menu_ics .fa {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.mn-ico .fa {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}
.mn-act .navbar{
  right: 0;
}

.header.shrink .navbar-nav li a {
  color: #222;
}
.header.shrink .mn-ico .fa {
  color: #333;
}

/*
* Home page
*/
.slider-area.home-bg {
  padding: 0;
  height: 100vh;
}

.home-bg {
  /* background: rgba(255,255,255,0) url('../img/sakthi_user-profile.jpg'); */

  background-attachment: fixed;
  background-clip: initial;
  background-color: rgba(255,255,255,0);
  background-origin: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  background: #a113ff;
}
.bg-opacity:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
}
.slider-area.home-bg .container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -4.2rem;
}
.text h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding-top: 10px;
  display: inline-block;
}
.text h3 {
  color: #fff !important;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 28px;
}
.text #typed {
  color: #ffbf3b;
}

/*
* About 
*/
.section-padding {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.hd-tit {
  font-size: 1.3em;
  font-weight: 600;
}
.hd-tit:after, .hd-tit:before {
 content: '';
  background: #ffbf3b;
  height: 2px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}
.hd-tit:before {
  margin-right: 30px;
  margin-left: 0;
}
.tit-h2 h2 {
  font-weight: 600;
}

/*
* Service
*/
.service, .contact {
  background: #a4efc2;
}
.slick-dots {
  padding: 30px 0;
  bottom: auto;
}

@media screen and (max-width: 767px) {
  .header.shrink .navbar-nav li a {
    color: #fff;
  }
  .portfolio .vw-rw h3 {
    margin: 15px  0;
  }
}

/**
 * Mobile Landscape only
 */
@media only screen and (min-width: 30em) {
	.ml-sh {
    display: block;
  }
  .ml-hd {
    display: none;
  }
	.ml-fl {
		float: left;
	}
	.ml-fr {
		float: right;
	}
}
/**
 * Mobile Large Landscape Onwards
 */
@media screen and (min-width: 35.5em) {
	.mll-sh {
    display: block;
  }
  .mll-hd {
    display: none;
  }
	.mll-fl {
		float: left;
	}
	.mll-fr {
		float: right;
	}
}

/**
 * Tab Portrait Onwards
 */
@media only screen and (min-width: 48em) {
	.tp-sh {
    display: block;
  }
  .tp-hd {
    display: none;
  }
	.tp-fl {
		float: left;
	}
	.tp-fr {
		float: right;
	}
	.tp-mb {
		margin-bottom: 10px;
	}
  .t-pln {
    padding-left: 0;
  }
  .t-prn {
    padding-right: 0;
  }
  .t-pl {
    padding-left: 10px;
  }
  .x-pl {
		padding-left: 40px;
	}
	.x-pr {
		padding-right: 40px;
	}
	.x-mt {
		margin-top: 40px;
	}
	.x-mb {
		margin-bottom: 40px;
	}
  .navbar {
    position: static;
    background: transparent;
    left: auto;
    height: auto;
    width: auto;
    padding: 0;
  }
  .navbar ul li {
    display: inline-block;
  }
  .navbar ul li a {
    font-weight: 600;
    padding: 5px 15px;
  }
  .text h1{
    font-size: 55px;
  }
  .hd-tit:after, .hd-tit:before {
    width: 100px;
  }
  .section-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .hd-tit {
    font-size: 2em;
  }
  .portfolio .prf-lft {
    float: left;
    width: 65%;
  }
  .portfolio .prf-rft {
    width: 35%;
    float: left;
  }
}

/**
 * Tab Landscape Onwards
 */
@media only screen and (min-width: 64em) {
	.tl-sh {
    display: block;
  }
  .tl-hd {
    display: none;
  }
	.tl-fl {
		float: left;
	}
	.tl-fr {
		float: right;
	}
	.tl-mtn {
		margin-top: 0;
	}
	.lg-dpl {
		padding-left: 20px;
	}
	.lg-dpr {
		padding-right: 20px;
	}
	.sep {
		margin: 20px 0;
	}
	.t-xmt {
		margin-top: 100px;
	}
	.btn {
		padding: 13px 10px;
	}
	.btn-sm {
		padding: 5px 10px;
	}
	
}

/**
 * Wide Screen Onwards
 */
@media only screen and (min-width: 75em) {
	.w-sh {
    display: block;
  }
  .w-hd {
    display: none;
  }
	.w-fl {
		float: left;
	}
	.w-fr {
		float: right;
	}
}
